*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 100%, 93%);
}

body{
    min-height: 800px;
    background-color: hsl(229, 57%, 11%);
    background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: 0px 105%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 920px;
    position: relative;
}

.sec1{
    background-color: hsl(228, 56%, 26%);
    width: 350px;
    height: 200px;
    border-radius: 10px 100px 10px 10px;
    padding: 40px;
    position: relative;
    box-shadow: 3px 6px 60px -2px hsl(229, 57%, 11%);
}

.grouped{
    width: 180px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 40px;
}

.grouped > span{
    display: inline-block;
    background-color: hsl(229, 57%, 11%);
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 10px;
}

.grouped img{
    display: block;
    position: absolute;
    inset: 0;
    margin: auto;
}

.sec2{
    width: 540px;
    height: 150px;
    background-color: hsl(228, 56%, 26%);
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 3px 6px 60px -2px hsl(229, 57%, 11%);
}

.sec2 path{
    width: 180px;
    height: 75px;
    border: 1px solid;
}
.sec2 > p{
    margin-bottom: revert;
}

.sec2 .gb{
    font-weight: 700;
}

.sec2 .outerbar{
    height: 20px;
    background-color: hsl(229, 57%, 17%);
    border-radius: 20px;
    margin: revert;
    padding: 1px;
}

.sec2 .innerbar{
    height: 100%;
    width: 340px;
    border-radius: 20px;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    padding: 3px;
}

.sec2 .innest{
    background-color: white;
    width: 13px;
    height: 100%;
    float: right;
    border-radius: 50%;
}

.sec2 .zeroGb{
    float: left;
    margin-top: 5px;
    font-weight: 700;
}

.sec2 .thousandGb{
    float: right;
    margin-top: 5px;
    font-weight: 700;
}

.sec2 > img{
    display: inline-block;
    margin-left: 350px;
    margin-top: -190px;
}
